<h1>Welcome#index</h1>
<h1>Hello, Rails!</h1>
<%= link_to "My Partners", controller: "partners" %>
<p> This is what the model and associations look like.</p>
<div style="width: 640px; height: 480px; margin: 10px; position: relative;"><iframe frameborder="0" style="width:640px; height:480px" src="https://www.lucidchart.com/documents/embeddedchart/4d53-b7a8-5298e8e2-9e80-54d60a00de89"></iframe><a href="https://www.lucidchart.com/pages/examples/mind_mapping_software" style="margin: 0; padding: 0; border: none; display: inline-block; position: absolute; bottom: 5px; left: 5px;"><img alt="mind mapping software"title="Lucidchart online diagrams"style="width: 100px; height: 30px; margin: 0; padding: 0; border-image: none; border: none; display: block"src="https://www.lucidchart.com/img/diagrams-lucidchart.png"/></a></div>